<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- 姓：<input type="text" name="" id="" v-bind:value="firstName"> <br><br>
        名：<input type="text" name="" id="" v-bind:value="lastName"><br><br>  -->
        姓：<input type="text" name="" id="" v-model="firstName"> <br><br>
        名：<input type="text" name="" id="" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
        <!-- .slice(0,3)截取字符串，即值一从索引号第几位开始，值二位截取几位 -->
    </div>
</body>
<script>
    Vue.config.productionTip = false //阻止vue在启动时生成生产提示
    /* 计算属性：
        1 定义：要用的属性不存在，要通过以右属性计算得来
        2 原理：底层借助了Objcet.defineproperty方法提供的getter和setter
        3 get函数什么时候执行
            1 初次读取时会执行
            2 当依赖的数据发生改变时会被再次调用
        4 优势 与methods实现相比，内部有缓存机制(方便复用)，效率更高，调试方便
        5 备注
            1 计算属性最终会出现在vm上，直接读取使用即可
            2 如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算的依赖数据发生改变时要重新赋值
             */
    new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        },
        // 完整写法
        /* computed: {
            fullName: {
                //get有什么作用？ 当有人读取fullName时，get就会被调用，且返回值就作为fullName的值
                //get什么时候被调用？ 1.初次读取fullName时， 2.所依赖的数据发生变化时会被调用
                get() {
                    console.log(this);  //此处的this是vm
                    return this.firstName + '-' + this.lastName
                },
                // set什么时候被调用？当fullName被修改的时候会调用
                set(value) {
                    // .split('-')是把str拆分成数组，分隔符为（）里的值
                    const arr = value.split('-')
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            } 
        }*/

        // 简写形式
        computed: {
            fullName() {
                return this.firstName + '-' + this.lastName
            }
        }
    })
</script>

</html>