<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本列表</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="(p,index) in filPerons">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>
</body>

<!-- 利用监视属性watch实现 -->
<!-- <script>
    Vue.config.productionTip = false
    
    new Vue({
        el: "#root",
        data: {
            keyWord: "",
            persons: [
                { id: "001", name: "马冬梅", age: "18", sex: "女" },
                { id: "002", name: "周冬雨", age: "19", sex: "女" },
                { id: "003", name: "周杰伦", age: "20", sex: "男" },
                { id: "004", name: "温兆伦", age: "21", sex: "男" },
            ],
            filPerons: []
        },
        // 监视属性
        // watch: {
        //     keyWord(value) {
        //         //filter()创建一个新的数组,新数组中的元素是通过检查指定数组中符合条件的所有元
        //         /* filter(
        //             itme是数组中的每一项，index为对应的索引号
        //             (itme,index)=>{
        //                 return 筛选条件
        //             }
        //         ) */
        //         // indexOf() 方法可返回某个指定的字符串值在字符串中首次出现的位置。
        //         /* indexOf(value)
        //         筛选字符串中是否包含value，返回值为对应的索引号 */
        //         this.filPerons = this.persons.filter(
        //             (itme) => {
        //                 return itme.name.indexOf(value) !== -1
        //             }
        //         )
        //     }
        // },
        watch: {
            keyWord: {
                immediate: true,            //值为true时，即初始化时执行一次

                handler(val) {
                    this.filPerons = this.persons.filter(
                        (item, index) => {
                            return item.name.indexOf(val) !== -1
                        }
                    )
                }
            }
        }
    })
</script> -->

<!-- 利用computed计算属性实现 -->
<script>
    Vue.config.productionTip = false

    new Vue({
        el: "#root",
        data: {
            keyWord: "",
            persons: [
                { id: "001", name: "马冬梅", age: "18", sex: "女" },
                { id: "002", name: "周冬雨", age: "19", sex: "女" },
                { id: "003", name: "周杰伦", age: "20", sex: "男" },
                { id: "004", name: "温兆伦", age: "21", sex: "男" },
            ],
        },

        // 计算属性
        computed: {
            filPerons: {
                get() {
                    return this.persons.filter(
                        (itme, index) => {
                            return itmes.name.indexOf(this.keyWord) !== -1
                        }
                    )
                },
                set(val) {

                }
            }
        }
    })
</script>

</html>